#gamePanel {
  width: 500px;
  height: 500px;
  background-color: Black;
  position: absolute;
  overflow: hidden;
}
#gamePanel .player {
  width: 30px;
  height: 30px;
  position: absolute;
  background: red;
}

#gamePanel .left {
  width: 30px;
  height: 30px;
}
