#gamePanel {
  width: 500px;
  height: 500px;
  background-color: gray;
  position: absolute;
  overflow: hidden;
}
#gamePanel .player {
  width: 30px;
  height: 30px;
  position: absolute;
  background: red;
  border-radius: 100px;
}

#gamePanel .left {
  width: 30px;
  height: 30px;
  position: absolute;
  background: red;
  border-radius: 100px;
}

#gamePanel .right {
  width: 30px;
  height: 30px;
  position: absolute;
  /*background: url(Run__000.png);*/
  background: red;
  border-radius: 100px;
}

#gamePanel .brick {
  position: absolute;
  background-color: white;
  overflow: hidden;
  background: white;
}
#gamePanel .lava {
  position: absolute;
  background-color: red;
  overflow: hidden;
  background: red;
}
#gamePanel .grass {
  position: absolute;
  background-color: green;
  overflow: hidden;
  background: green;
}
#gamePanel .spring {
  position: absolute;
  background-color: yellow;
  overflow: hidden;
  background: yellow;
}
